:root {
  --or-suisse: #facc15;
  --or-belgique: #f59e0b;
  --argent: #9ca3af;

  --etf-monde: #38bdf8;
  --etf-seniors: #22c55e;
  --etf-juniors: #64748b;
 
  --ratio-froid: #93c5fd;
  --ratio-moyen: #facc15;
  --ratio-chaud: #ef4444;
}


/* RATIO */
.ratio-froid {
  color: var(--ratio-froid);
}

.ratio-moyen {
  color: var(--ratio-moyen);
}

.ratio-chaud {
  color: var(--ratio-chaud);
}


/* DOTS */
.dot-or-suisse { background: var(--or-suisse); }
.dot-or-belgique { background: var(--or-belgique); }
.dot-argent { background: var(--argent); }

.dot-monde { background: var(--etf-monde); }
.dot-seniors { background: var(--etf-seniors); }
.dot-juniors { background: var(--etf-juniors); }
