/* === BASE UI === */
#alert-text {
  font-weight: 600;
  transition: color 0.3s ease;
}

:root {
  --or-suisse: #facc15; /* jaune */
  --or-belgique: #f59e0b; /* orange */
  --argent: #9ca3af; /* gris */

  --etf-monde: #38bdf8;
  --etf-seniors: #22c55e;
  --etf-juniors: #64748b;
 
  --ratio-froid: #9ca3af;   /* gris */
  --ratio-moyen: #f59e0b;   /* orange */
  --ratio-chaud: #ef4444;   /* rouge */
  --ratio-hover: #d1d5db;   /* gris clair standard */
  --ratio-hover-glow: rgba(56,189,248,0.6);
}


/* RATIO */
.ratio-froid {
  color: var(--ratio-froid);
}

.ratio-moyen {
  color: var(--ratio-moyen);
}

.ratio-chaud {
  color: var(--ratio-chaud);
}


/* DOTS */
 .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.dot-or-suisse { background: var(--or-suisse); }
.dot-or-belgique { background: var(--or-belgique); }
.dot-argent { background: var(--argent); }

.dot-monde { background: var(--etf-monde); }
.dot-seniors { background: var(--etf-seniors); }
.dot-juniors { background: var(--etf-juniors); }
